@font-face {
  font-family: "Aileron";
  src: url("/tipografia/Aileron-Regular.otf");
}
@font-face {
  font-family: "Aileron-Light";
  src: url("/tipografia/Aileron-Light.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Aileron", "Helvetica Neue", Arial, sans-serif; /* Para Chrome y Safari en macOS */
}

.navbarTest {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

.logonav {
  animation: logo linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@keyframes logo {
  to {
    width: 140px;
  }
}
@keyframes blur {
  to {
    height: 100px;
    font-size: 12px;
    backdrop-filter: blur(10px);
    padding-bottom: 20px;
    padding-top: 0;
    background: rgba(255, 255, 255, 0.8);
  }
}

.light {
  font-family: "Aileron-Light";
}
/* Para Safari en macOS */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    body {
      font-family: "Aileron", "Helvetica Neue", Arial, sans-serif;
    }
  }
}

/* Para Chrome en Windows */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @media {
    body {
      font-family: "Aileron", Arial, sans-serif;
    }
  }
}

.showAnimate {
  view-timeline-name: --presentacion;
  view-timeline-axis: block;
  -webkit-animation-timeline: --presentacion;
  animation-timeline: --presentacion;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  animation-range: entry 0% cover 40%;
  animation-fill-mode: both;
}

.imgScroll {
  view-timeline-name: --imagen2;
  view-timeline-axis: block;
  -webkit-animation-timeline: --imagen2;
  animation-timeline: --imagen2;
  -webkit-animation-name: scroll-img;
  animation-name: scroll-img;
  animation-range: entry cover 50%;
  animation-fill-mode: both;
}

.fade {
  view-timeline-name: --fade;
  view-timeline-axis: block;
  -webkit-animation-timeline: --fade;
  animation-timeline: --fade;
  -webkit-animation-name: fade;
  animation-name: fade;
  animation-range: entry cover 50%;
  animation-fill-mode: both;
}

.wordlScroll {
  view-timeline-name: --wordl;
  view-timeline-axis: block;
  -webkit-animation-timeline: --wordl;
  animation-timeline: --wordl;
  -webkit-animation-name: scroll-world;
  animation-name: scroll-world;
  animation-range: entry cover 50%;
  animation-fill-mode: both;
}

.letterScroll {
  view-timeline-name: --top;
  view-timeline-axis: block;
  -webkit-animation-timeline: --top;
  animation-timeline: --top;
  -webkit-animation-name: scroll-top;
  animation-name: scroll-top;
  animation-range: entry -100% cover 20%;
  animation-fill-mode: both;
}

.scroll-parallax {
  view-timeline-name: --parallax;
  view-timeline-axis: block;
  -webkit-animation-timeline: --parallax;
  animation-timeline: --parallax;
  -webkit-animation-name: scroll-parallax;
  animation-name: scroll-parallax;
  animation-range: entry exit;
  animation-fill-mode: both;
}

.scroll-reveal span {
  color: hsla(100, 100%, 100%, 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear;
  animation-timeline: view(y);
}

.scroll-reveal p span {
  animation-range-start: 20px;
  animation-range-end: contain 300px;
  animation-fill-mode: forwards;
}

.fade {
  view-timeline-name: --fade;
  view-timeline-axis: block;
  -webkit-animation-timeline: --fade;
  animation-timeline: --fade;
  -webkit-animation-name: fade;
  animation-name: fade;
  animation-range: entry exit;
  animation-fill-mode: both;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll-reveal {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 110% 100%;
  }
}

@keyframes scroll-parallax {
  from {
    transform: translate(0, 50%);
  }
  to {
    transform: translate(0, 0%);
  }
}

@keyframes scroll-top {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-img {
  from {
    scale: 3;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0, 50%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scroll-world {
  from {
    transform: translate(0, 80%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes scroll {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-shadow {
  -webkit-text-shadow: 1px 0px 50px rgba(255, 255, 255, 1);
  text-shadow: 1px 0px 50px rgba(255, 255, 255, 1);
}

.embla {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.embla__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.embla__slide img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: top;
}

.bannerPDF {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

@media (max-width: 768px) {
  .bannerPDF {
    object-fit: scale-down;
  }
  .embla__slide,
  .embla__container,
  .embla {
    height: auto;
  }
}

.imageContainer {
  position: relative;
  height: 100vh;
  background-image: url("/partners/partners.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.imageContainer-classes {
  position: relative;
  height: 100vh;
  background-image: url("/classes/classes.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.imageOverlay-classes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
}

@media (max-width: 1023px) {
  .imageContainer-classes,
  .imageContainer {
    background-attachment: scroll;
  }
}

.imageOverlay-partners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.contentContainer {
  z-index: 2;
}

.container-calendar::-webkit-scrollbar {
  width: 5px;
}

.container-calendar::-webkit-scrollbar-track {
  background: transparent;
}

.container-calendar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
}

.container-classes::-webkit-scrollbar {
  width: 5px;
}

.container-classes::-webkit-scrollbar-track {
  background: white;
}

.container-classes::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
}

@media (max-width: 1024px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

video::-webkit-media-controls {
  display: none;
}
